/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2016, 11:54:10 PM
    Author     : chris
*/

.my-collapsible {
    width: 100%;
    background: white;
    border:1px lightgrey;
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
}

.my-ui-content {
    background: blueviolet;
}

.my-label-s {
    font-size: 10px;
}

.my-label-m {
    font-size: 20px;
}

.my-label-l {
    font-size: 30px;
}