<!DOCTYPE html>

<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------------------------- CDN JQUERY------------------------------------------------->

    <!--
            <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    
            <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    -->
    <!----------------------------------------- LOCAL JQUERY ---------------------------------------------->

    <link rel="stylesheet" href="../js/jquery-mobile/jquery.mobile.css" />
    <link rel="stylesheet" href="../css/tg-theme.css"/>
    <link rel="stylesheet" href="../css/my.css"/>
    <link rel="stylesheet" href="../js/nativedroid2/nativedroid2.color.cyan.css"/>
    <link rel="stylesheet" href="../css/gridlex/gridlex.css"/>

    <script src="../js/jquery/jquery-2.2.4.js"></script>
    <script src="../js/jquery-mobile/jquery.mobile.js"></script>
    <script src="../js/jsrender/jsrender.min.js"></script>
    <script src="../js/sly/sly.js"></script>
    <script src="../js/multilanguage/lang.js"></script>
    <script src="../js/myUtils.js"></script>
    <script src="../js/p2r/p2r.min.js"></script>
    <script src="../js/loading-overlay/loadingoverlay.js"></script>
    <script src="../js/p2r/p2rAndLoadingOverlay.js"></script>
    <script src="../js/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="../js/loading-overlay/loadingoverlay.css"/>
    <script>
      //GLOBAL VARIABLES
      var whatsappMainUrl = "http://92.222.83.28/parent/whatsapp.php?time_frame=day";

      window.onload = function (e) {
        console.log("onload");
        doGetWhatsappMainJson("day");
      };
      $(document).ready(function () {
        console.log("ready");
      });
    </script>

    <script>
      function drawChart(numbersAR) {
        console.log("numbers " + numbersAR);
        $(function () {
          var myChart = Highcharts.chart('whatsappChartDiv', {
            chart: {
              type: 'area'
            },
            title: {
              text: ' '
            },
            xAxis: {
//            categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
              title: {
                text: 'Chats'
              }
            },
            series: [{
                name: 'Chats',
//            color:'#32B92A',
                color: {
                  linearGradient: {x1: 0, x2: 0, y1: 0, y2: 1},
                  stops: [
                    [0, '#32B92A'],
                    [1, '#FFFFFF']
                  ]
                },
                data: numbersAR
              }]
          });
        });
      }
    </script>

    <script id="contactVerticalTemplate" type="text/x-jsrender">
      {{if first_name}}
      <li>
        <div class="grid">
          <div class="col-2">
            <img src='../images/circleLightGreenIcon.png' style="max-width:30%;" alt=''/>
          </div>
          <div class="col-10">
            <label class="my-label-m"><b>{{:first_name}}</b></label>
          </div>
        </div>
      </li>
      {{/if}}
      {{if is_group}}
      <li style="width: 100px;">
      <div class="grid">
      <div class="col-5">
      <img src='../images/circleLightOrangeIcon.png' style="max-width:30%;" alt='-'/>
      </div>
      <div class="col-7">
      <label class="my-label-m">{{:title}}</label>
      </div>
      </div>
      </li>
      {{/if}}
    </script>

    <script>
      function startSly() {
        var contactDiv = $("#chatsListDiv");
        contactDiv.sly('destroy');
        //'use strict';
        var sly = new Sly(contactDiv, {
          horizontal: false,
          itemNav: 'basic',
          smart: true,
          scrollBy: 1,
          mouseDragging: 1,
          touchDragging: 1,
          swingSpeed: 0.2,
          //scrollBar: $wrap.find('.hsscrollbar'),
          dragHandle: 1,
          clickBar: 1,
          elasticBounds: 1,
          speed: 600,
          startAt: 0
        });
        sly.init();
      }


      function buildWhatsappChatList4Sly(json) {
        var chatsAR = json.data.chats;
        var template = $.templates("#contactVerticalTemplate");
        var htmlOutput = template.render(chatsAR);
        htmlOutput = "<ul class='slidee' style='list-style-type: none;'>" +
                htmlOutput +
                "</ul>";
        return htmlOutput;
      }
    </script>


    <script language="javascript">
      /////////////////////// COMUNICATIONS
      function ciao() {
        //window.alert("callback ciao");
      }
      function doGetWhatsappMainJson(timeFrame) {
        console.log("doGetWhatsappMainJson " + timeFrame);
        $.ajax({
          //url: whatsappMainUrl,
          url: 'http://92.222.83.28/parent/whatsapp.php?time_frame=day',
          type: 'GET',
          crossDomain: true,
          jsonp: 'callback',
          jsonpCallback: 'ciao',
          //data: "time_frame=" + timeFrame,
          dataType: 'jsonp',
//            data: {
//           format: 'jsonp'
//           },
          contentType: 'application/json',
          error: function (jqXHR, textStatus, errorThrown) {
            window.alert("error");
          },
          success: function (data, textStatus, jqXHR) {
            console.log("success data " + data);
            //var jsonObject = eval('(' + data + ')');
            console.log("whatsapp " + data.data.statistics.time_frame);
            populateWhatsappMain(data);

          }
        });
      }

      function populateWhatsappMain(json) {
        ////////////NUDE SECTION
        $("#whatsappNudeCountId").html(buildNudeCount(json.data.nude.count));
        //alert(json.data.statistics.numbers);
        drawChart(json.data.statistics.numbers);
        $('#chatsListDiv').html(buildWhatsappChatList4Sly(json));
        startSly();
      }
    </script>



  </head>
  <body>
    <!-------------------------------HOME PAGE------------------------------------------- -->
    <div id="homePage" data-role="page">

      <div id="header" data-role="header" data-id="fixedHeader" data-theme="a" data-position="fixed">
        <div id="headerNavbarId" data-role="navbar" >
          <ul>
            <li><a href="javascript:doGetWhatsappMainJson('day')" data-iconshadow="false" class="ui-btn-active" >Day</a></li>
            <li><a href="javascript:doGetWhatsappMainJson('week')" data-iconshadow="false">Week</a></li>
            <li><a href="javascript:doGetWhatsappMainJson('month')" data-iconshadow="false">Month</a></li>
          </ul>
        </div>
      </div>

      <div role="main" class="ui-content">
        <div class="p2rDiv">
          <!-- WHATSAPP-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='whatsappIconImage' src='../images/whatsappIcon.png' alt='-' style="max-width:50%; "/></div>
              <div class="col-10"><label style="color: #32B92A; " id='whatsappSectionLabel' class="my-label-l">Whatsapp</label></div> 
            </div>
            <!-- chart -->
            <div class="grid">
              <div class="col-11">
                <div id="whatsappChartDiv">
                  <img src="../images/loading/grey_dots_loading.gif" style="max-width:30%;" alt='-'/>
                </div>
              </div>
            </div>
            <!-- whatsapp nude -->
            <div class="grid">
              <div class="col-2"><img id='whatsappNudeIconId' src='../images/alertNudeIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-10"><label id='whatsappNudeSection' class="my-label-m"><b>Nude Alert</b></label></div>
              <div class="col-2"></div>
              <div class="col-5"><label id='whatsappNudeCountId' class="my-label-s">-</label></div>
            </div>
          </div>
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-11">
                <div id="chatsListDiv"></div>
              </div>
            </div>
          </div>
        </div> <!-- p2r div -->
      </div><!-- /content -->

      <!-------------------------------FOOTER------------------------------------------- -->
      <div data-role="footer" data-id="fixedFooter" data-theme="a" data-position="fixed">
        <div id="footerNavbarId" data-role="navbar" >
          <ul>
            <li><a href="#" data-icon="phone" data-iconshadow="false" data-iconpos="notext" class="ui-btn-active"></a></li>
            <li><a href="#" data-icon="camera" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a href="../home/home.html" data-icon="home" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a href="#" data-icon="location" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a onclick="loadGeofences()" href="#editGeofencesPage" data-icon="tag" data-iconshadow="false"  data-iconpos="notext"></a></li>
          </ul>
        </div>
      </div>
      <!-------------------------------/FOOTER------------------------------------------- -->
    </div><!-- /page -->
    <!-------------------------------/HOME PAGE------------------------------------------- -->

  </body>
</html>
