<!DOCTYPE html>
<!--hello-->
<html>
  <head>
    <title>ParentWeb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------------------------- CDN JQUERY------------------------------------------------->

    <!--
            <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    
            <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    -->
    <!----------------------------------------- LOCAL JQUERY ---------------------------------------------->

    <link rel="stylesheet" href="../../js/jquery-mobile/jquery.mobile.css" />
    <link rel="stylesheet" href="../../css/tg-theme.css"/>
    <link rel="stylesheet" href="../../css/my.css"/>
    <!--<link rel="stylesheet" href="../../js/nativedroid2/nativedroid2.color.cyan.css"/>-->
    <link rel="stylesheet" href="../../css/gridlex/gridlex.css"/>

    <script src="../../js/jquery/jquery-2.2.4.js"></script>
    <script src="../../js/jquery-mobile/jquery.mobile.js"></script>
    <script src="../../js/jsrender/jsrender.min.js"></script>
    <script src="../../js/sly/sly.js"></script>
    <script src="../../js/multilanguage/lang.js"></script>
    <script src="../../js/myUtils.js"></script>
    <script src="../../js/p2r/p2r.min.js"></script>
    <script src="../../js/loading-overlay/loadingoverlay.js"></script>
    <script src="../../js/p2r/p2rAndLoadingOverlay.js"></script>
    <link rel="stylesheet" href="../../js/loading-overlay/loadingoverlay.css"/>


    <script language="javascript">
//<!-------------GLOBAL VARIABLES---------------->
      var homeUrl = "http://92.222.83.28/parent/home2.php";
      //var url = "https://www.googleapis.com/books/v1/volumes/zyTCAlFPjgYC";// to receive json

      window.onload = function (e) {

        dayClicked();
        //doGetAccountJson();
      };

//$("body").ready(p2rAndLoadingOverlay());

      $(document).ready(function () {
        console.log("ready");
        p2rAndLoadingOverlay();

        doGetAccountJson();
      });

      /**
       * builds horizontal contacts slider
       */
      function startSly() {
        var contactDiv = $("#whatsappContactListDiv");
        contactDiv.sly('destroy');
        //'use strict';
        var sly = new Sly(contactDiv, {
          horizontal: 1,
          itemNav: 'basic',
          smart: 0,
          scrollBy: 1,
          mouseDragging: 1,
          touchDragging: 1,
          swingSpeed: 0.2,
          //scrollBar: $wrap.find('.hsscrollbar'),
          dragHandle: 1,
          clickBar: 1,
          elasticBounds: 1,
          speed: 600,
          startAt: 0
        });
        sly.init();
      }
      /**
       * 
       * @param {type} jsonHome
       * @returns {String} list of increase contacts
       */
      function buildWhatsappIncreaseContactList4Sly(jsonHome) {
        var contactAR = jsonHome.data.whatsapp.increase.list;
        var template = $.templates("#contactHorizontalTemplate");
        var htmlOutput = template.render(contactAR);
        htmlOutput = "<ul class='slidee'>" +
                htmlOutput +
                "</ul>";
        //alert("htmlOutput " + htmlOutput);
        return htmlOutput;
      }

//      function buildDeviceList4Header(jsonAccount) {
//        var deviceAR = jsonAccount.devices;
//        var template = $.templates("#contactHorizontalTemplate");
//        var htmlOutput = template.render(deviceAR);
//        htmlOutput = "<ul class='slidee'>" +
//                htmlOutput +
//                "</ul>";
//            }
    </script>

    <script id="deviceListTemplate" type="text/x-jsrender">
      <option value='{{:id}}'>{{:name}}</option>
    </script>

    <script id="contactHorizontalTemplate" type="text/x-jsrender">

      {{if first_name}}
      <li style="width: 100px;">
      <a href="../whatsapp/whatsappSingle.html?id={{:id}}&time_frame={{:time_frame}}" data-ajax="false" data-transition="pop" style="text-decoration: none">
      <div class="grid">
      <div class="col-11">
      <img src='../../images/circleLightGreenIcon.png' style="max-width:30%;" alt='-'/>
      </div>
      <div class="col-11">
      <label class="my-label-m"><b>{{:first_name}} {{:last_name}}</b></label>
      </div>
      </div>
      </a>
      </li>
      {{/if}}
      {{if is_group}}
      <li style="width: 100px;">
      <a href="../whatsapp/whatsappGroup.html?group_id={{:id}}&time_frame={{:time_frame}}" data-ajax="false" data-transition="pop" style="text-decoration: none">
      <div class="grid">
      <div class="col-11">
      <img src='../../images/circleLightOrangeIcon.png' style="max-width:30%;" alt='-'/>
      </div>
      <div class="col-11">
      <label class="my-label-m">{{:title}}</label>
      </div>
      </div>
      </a>
      </li>
      {{/if}}
    </script>



    <script language="javascript">
      /**
       * 
       * @param {type} value
       * @returns {String} round 187 to nearest number wich ends with 0
       */
      function roundPlus(value) {
        return "<b>" + (Math.floor(value / 10)) * 10 + " +</b>";
      }

      function buildWhatsappLatestList(jsonHome) {
        var latestAR = jsonHome.data.whatsapp.latests.list;
        var maxCount = Math.min(latestAR.length, 3);
        var firstNameSTR = "";
        for (i = 0; i < maxCount; i++) {
          firstNameSTR += latestAR[i].first_name;
          if (i < maxCount - 1) {
            firstNameSTR += ", ";
          } else {
            var otherCount = jsonHome.data.whatsapp.latests.count - maxCount;
            firstNameSTR += "<em> and other " + otherCount + "</em>";
          }
        }
        return firstNameSTR;
      }



      function buildWhatsappNudeCount(jsonHome) {
        var nudeCount = jsonHome.data.whatsapp.nude.count;
        return buildNudeCount(nudeCount);
      }

      function buildPhotoNudeCount(jsonHome) {
        var nudeCount = jsonHome.data.photo.nude.count;
        return buildNudeCount(nudeCount);
      }

      function buildWhatsappHasMediaIconGroup(jsonHome) {
        var hasText = jsonHome.data.whatsapp.latests.has_text;
        var hasImage = jsonHome.data.whatsapp.latests.has_image;
        var hasVideo = jsonHome.data.whatsapp.latests.has_video;
        var hasAudio = jsonHome.data.whatsapp.latests.has_audio;
        return buildMediaIconGroup(hasText, hasImage, hasVideo, hasAudio);
      }


      /**
       * 
       * @param {jsonHome} jsonHome
       * @returns  media type  images
       */
      function buildPhotoHasMediaIconGroup(jsonHome) {
        var hasImage = jsonHome.data.whatsapp.latests.has_image;
        var hasVideo = jsonHome.data.whatsapp.latests.has_video;
        return buildMediaIconGroup(false, hasImage, hasVideo, false);
      }

      function buildPhotoPlacesListAndOtherCount(jsonHome) {
        var count = jsonHome.data.photo.places.count;
        var placesAR = jsonHome.data.photo.places.list;
        return buildPlacesListAndOtherCount(count, placesAR);
      }

      function buildVisitPlacesListAndOtherCount(jsonHome) {
        var count = jsonHome.data.visit.places.count;
        var placesAR = jsonHome.data.visit.places.list;
        return buildPlacesListAndOtherCount(count, placesAR);
      }

      function buildGeofencePlacesListAndOtherCount(jsonHome) {
        var count = jsonHome.data.geofence.count;
        var placesAR = jsonHome.data.geofence.geofences;
        return buildPlacesListAndOtherCount(count, placesAR);
      }

      function buildPlacesListAndOtherCount(count, placesAR) {
        var htmlOutput = "";
        //window.alert("count " + count + " placesAR " + placesAR.length);
        var maxPlacesNames = Math.min(2, placesAR.length);
        for (var i = 0; i < maxPlacesNames; i++) {
          htmlOutput += placesAR[i].name;
          if (i < maxPlacesNames - 1)
            htmlOutput += ",&nbsp;";
        }
        var otherNumber = count - maxPlacesNames;
        htmlOutput += "<em>&nbsp;and other " + otherNumber + "</em>";
        //window.alert(htmlOutput);
        return htmlOutput;
      }
    </script>
    <script language="javascript">
      function ciao() {
        //window.alert("callback ciao");
      }
      function doGetHomeJson(timeFrame) {
        console.log("doGetHomeJson " + timeFrame);
        $.ajax({
          url: homeUrl,
          type: 'GET',
          crossDomain: true,
          jsonp: 'callback',
          jsonpCallback: 'ciao',
          data: "time_frame=" + timeFrame,
          dataType: 'jsonp',
          /*  data: {
           format: 'jsonp'
           },*/
          contentType: 'application/json',
          error: function (jqXHR, textStatus, errorThrown) {
            window.alert("doGetHomeJson error");
          },
          success: function (json, textStatus, jqXHR) {
//              alert("json.data.whatsapp.increase.list.length " + json.data.whatsapp.increase.list.length);
//adding time_frame to contacts
            for (var i = 0; i < json.data.whatsapp.increase.list.length; i++) {
              json.data.whatsapp.increase.list[i].time_frame = timeFrame;
            }
            //alert("success data " + json);
            //var jsonObject = eval('(' + data + ')');
            populateHome(json);
            //alert();
          }
        });
      }



      function populateHome(jsonHome) {
        $("#whatsappCountLabel").html(roundPlus(jsonHome.data.whatsapp.count));
        $("#hasMediaDiv").html(buildWhatsappHasMediaIconGroup(jsonHome));
        $("#whatsappNudeSectionLabelCountId").html(jsonHome.data.whatsapp.nude.count);
        $("#whatsappLatestListLabel").html(buildWhatsappLatestList(jsonHome));
        $("#whatsappContactListDiv").html(buildWhatsappIncreaseContactList4Sly(jsonHome));
        startSly();
        $("#whatsappNudeCountId").html(buildWhatsappNudeCount(jsonHome));
        ///////////PHOTO SECTION
        $("#photoHasMediaDiv").html(buildPhotoHasMediaIconGroup(jsonHome));
        $("#photoSectionLabelCountId").html(roundPlus(jsonHome.data.photo.count));
        $("#photoSectionPlacesLabel").html(buildPhotoPlacesListAndOtherCount(jsonHome));
        $("#photoNudeCountId").html(buildPhotoNudeCount(jsonHome));
        /////////VISIT SECTION
        $("#visitSectionPlacesLabel").html(buildVisitPlacesListAndOtherCount(jsonHome));
        /////////GEOFENCE SECTION
        $("#geofenceSectionPlacesLabel").html(buildGeofencePlacesListAndOtherCount(jsonHome));
        //window.alert("populateHome completed ");
      }
    </script>
    <script>
      function dayClicked() {
        console.log("ho day clicked");
        doGetHomeJson('day');
//          $("#dayBtn").addClass("ui-btn-active");
      }
      function weekClicked() {
        doGetHomeJson('week');
        console.log("ho week clicked");
//          $("#weekBtn").addClass("ui-btn-active");
      }
      function monthClicked() {
        console.log("ho month clicked");
        doGetHomeJson('month');
//          $("#monthBtn").addClass("ui-btn-active");
      }

      function whatsappClicked() {
        console.log("whatsapp clicked");
      }

      function photoClicked() {
        console.log("photo clicked");
      }

      function homeClicked() {
        console.log("home clicked");
      }

      function positionClicked() {
        console.log("position clicked");
      }

      function geofenceClicked() {
        console.log("geofence clicked");
      }
    </script>
  </head>
  <body>
    <!-- ***************************** HOME PAGE***************************** -->
    <div id="homePage" data-role="page">

      <div  data-role="header" data-id="fixedHeader" data-position="fixed" data-content-theme="a" data-theme="a">
        <h1> 
          <div id="deviceMenuDiv" style="background: #5AC9FA">
            Home
          </div>
        </h1>
        <a href="../account/accountInfo.html" data-icon="gear" class="ui-btn-right" data-iconpos="notext">Options</a>

        <div id="headerNavbarId" data-role="navbar" style=" width: 100%;" >
          <ul>
            <li><a href="#" onclick="dayClicked()" id="dayBtn" class="ui-btn-active" style="border-color: white;border-top-width: 3px">Day</a></li>
            <li><a href="#" onclick="weekClicked()" id="weekBtn" style="border-color: white;border-top-width: 3px">Week</a></li>
            <li><a href="#" onclick="monthClicked()" id="monthBtn" style="border-color: white;border-top-width: 3px">Month</a></li>
          </ul>
        </div>
      </div>
      <br/>
      <div role="main"  class="ui-content">
        <div class="p2rDiv">
          <!-- WHATSAPP-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='whatsappIconImage' src='../../images/whatsappIcon.png' alt='-' style="max-width:50%; "/></div>
              <div class="col-10"><label style="color: #32B92A; " id='whatsappSectionLabel' class="my-label-l">Whatsapp</label></div> 
            </div>

            <!--- - - - whatsapp count  & mediatype - - - - - - - -->
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-2"><label class ="my-label-m" id='whatsappCountLabel' style="vertical-align: bottom;"></label></div>
              <div class="col-7" id ='hasMediaDiv' style="vertical-align: top;"></div>
            </div>
            <!--- - - - whatsapp latest - - - - - - - -->
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-10"><label class ="my-label-m"  id='whatsappLatestListLabel' >-</label></div> 
            </div>
            <!------ whatsapp increase ------>
            <div class="grid">
              <div class="col-2"><img id='whatsappIncreaseImage' src='../../images/whatsappIncrease.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-8"><label id='whatsappIncreaseLabel' class="my-label-m"><b>Increase</b></label></div> 
            </div>

            <!------ whatsapp contacts ------>
            <div class="grid">
              <div class="col-11">
                <div class="hsframe" id="whatsappContactListDiv">  <!--id='whatsappSectionContactListId'--></div>
              </div>
            </div>
            <!------whatsapp nude ------>
            <div class="grid">
              <div class="col-2"><img id='whatsappNudeIconId' src='../../images/alertNudeIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-10"><label id='whatsappNudeSection' class="my-label-m"><b>Nude Alert</b></label></div>
              <div class="col-2"></div>
              <div class="col-5"><label id='whatsappNudeCountId' class="my-label-m">-</label></div>
            </div>
          </div>
          <!--/div-->

          <!-- PHOTO-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='photoIconId' src='../../images/photoIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-7"><label class="my-label-l" style="color: #FF4333" id='photoSection'>Photo</label></div>
            </div>  

            <!--- - - - photo count  & mediatype - - - - - - - -->
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-2"><label class ="my-label-m" id='photoSectionLabelCountId'>[COUNT]</label></div> 
              <div class="col-8" id ='photoHasMediaDiv'></div>
            </div>
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-10"><label class ="my-label-m"  id='photoSectionPlacesLabel' >[PLACES LIST AND OTHER COUNT]</label></div> 
            </div>

            <div class="grid">
              <div class="col-2"><img id='photoNudeIconId' src='../../images/alertNudeIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-10"><label style="color: graytext" id='photoNudeSection' class="my-label-m"><b>Nude Alert</b></label></div>
              <div class="col-2"></div>
              <div class="col-5"><label id='photoNudeCountId' class="my-label-m">[PHOTO NUDE COUNT AND LINK]</label></div>
            </div>
          </div>
          <!-- VISIT-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='visitIconId' src='../../images/visitIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-10"><label class="my-label-l" style="color: #00A1AC" id='visitSection'>Visit</label></div>
            </div>
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-10"><label class ="my-label-m"  id='visitSectionPlacesLabel' >VISIT PLACES LIST AND OTHER COUNT]</label></div>
            </div>
          </div>
          <!-- GEOFENCES-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='geofenceIconId' src='../../images/geofenceIcon.png' alt='-' style="max-width:50%;"/></div>
              <div class="col-10"><label class="my-label-l" style="color: #FFA602" id='geofenceSection'>Geofence</label></div> 
            </div>
            <div class="grid">
              <div class="col-2"></div>
              <div class="col-10"><label class ="my-label-m"  id='geofenceSectionPlacesLabel' >[GEOFENCES PLACES LIST AND OTHER COUNT]</label></div>
            </div>
          </div>
        </div><!-- p2r -->
      </div><!-- /content -->

      <!-------------------------------FOOTER------------------------------------------- -->
      <div id="footer" data-role="footer" data-id="fixedFooter" data-theme="a" data-position="fixed">
        <div id="footerNavbarId" data-role="navbar" style=" width: 100%">
          <ul>
            <li><a href="../whatsapp/whatsappMain.html"  data-ajax="false" onclick="whatsappClicked()" id="whatsappBtn" data-transition="pop" data-icon="phone" data-iconpos="notext"></a></li>
            <li><a href="../photo/photoMain.html" id="photoBtn" data-ajax="false" data-icon="camera"   data-iconpos="notext"></a></li>
            <li><a href="../home/home.html" data-icon="home" id="homeBtn" data-iconpos="notext" class="ui-btn-active"></a></li>
            <li><a href="../visit/visitMain.html" data-icon="location" id="positionBtn " data-iconpos="notext"></a></li>
            <li><a  href="../geofence/geofenceMain.html" onclick="loadGeofences()" id="geofenceBtn" data-icon="tag" data-iconpos="notext"></a></li>
          </ul>
        </div>
      </div>
      <!-------------------------------/FOOTER------------------------------------------- -->
    </div><!-- /page -->
    <!-------------------------------/HOME PAGE------------------------------------------- -->

  </body>
</html>
