<!DOCTYPE html>

<html>
  <head>
    <title>ParentWeb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------------------------- CDN JQUERY------------------------------------------------->

    <!--
            <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    
            <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    -->
    <!----------------------------------------- LOCAL JQUERY ---------------------------------------------->

    <link rel="stylesheet" href="../../js/jquery-mobile/jquery.mobile.css" />
    <link rel="stylesheet" href="../../css/tg-theme.css"/>
    <link rel="stylesheet" href="../../css/my.css"/>
    <link rel="stylesheet" href="../../js/nativedroid2/nativedroid2.color.cyan.css"/>
    <link rel="stylesheet" href="../../css/gridlex/gridlex.css"/>

    <script src="../../js/jquery/jquery-2.2.4.js"></script>
    <script src="../../js/jquery-mobile/jquery.mobile.js"></script>
    <script src="../../js/jsrender/jsrender.min.js"></script>
    <script src="../../js/sly/sly.js"></script>
    <script src="../../js/multilanguage/lang.js"></script>
    <script src="../../js/myUtils.js"></script>
    <script src="../../js/p2r/p2r.min.js"></script>
    <script src="../../js/loading-overlay/loadingoverlay.js"></script>
    <script src="../../js/p2r/p2rAndLoadingOverlay.js"></script>
    <script src="../../js/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="../../js/loading-overlay/loadingoverlay.css"/>
    <script>
      //GLOBAL VARIABLES
      var whatsappGroupUrl = "http://92.222.83.28/parent/whatsapp.php";
      var whatsappGroupParticipantsUrl = "http://92.222.83.28/parent/whatsapp_participants.php";

      var timeFrame = "unkonwn";
      var groupId = "unknown";//?group_id=1320340042



      window.onload = function (e) {
        //http://stackoverflow.com/questions/16518912/pass-parameter-between-pages-using-jquery-mobile
        console.log("onload this page url " + window.location.href);
        var parameters = window.location.href.split("?")[1];
        parameters = parameters.replace("group_id=", "");
        parameters = parameters.replace("time_frame=", "");
        groupId = parameters.split("&")[0];
        timeFrame = parameters.split("&")[1];
        alert("groupId " + groupId + " timeFrame " + timeFrame);
        enableOnlyButton(timeFrame);
        doGetWhatsappGroupJson(groupId, timeFrame);
        doGetWhatsappGroupParticipantsJson(groupId);
      };

      $(document).ready(function () {
        console.log("ready");
        //dayClicked();
        //doGetWhatsappMainJson("day");
      });
    </script>

    <script>
      function drawChart(numbersAR, timeFrame) {
        $(function () {
          var myChart = Highcharts.chart('whatsappChartDiv', {
            chart: {
              type: 'area'
            },
            title: {
              text: ' '
            },
            xAxis: {
//            categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
              title: {
                text: 'Chats'
              }
            },
            series: [{
                name: timeFrame,
//            color:'#32B92A',
                color: {
                  linearGradient: {x1: 0, x2: 0, y1: 0, y2: 1},
                  stops: [
                    [0, '#32B92A'],
                    [1, '#FFFFFF']
                  ]
                },
                data: numbersAR
              }]
          });
        });
      }
    </script>

    <script id="contactVerticalTemplate" type="text/x-jsrender">
      {{if first_name}}

      <li>
      <a href="../whatsapp/whatsappSingle.html?id={{:id}}&time_frame={{:time_frame}}" data-ajax="false" data-transition="pop" style="text-decoration: none">
      <div class="grid">
      <div class="col-2">
      <img src='../../images/circleLightGreenIcon.png' style="max-width:30%;" alt=''/>
      </div>
      <div class="col-5">
      <label class="my-label-m"><b>{{:first_name}} {{:last_name}}</b></label>
      </div>
      <div class="col-1">
      <label class="my-label-m"><em>{{:count}}</em></label>
      </div>
      <div class="col-4">
      {{if has_text}} 
      <img src='../../images/whatsappHasMessage.png' style='max-width:10%;' alt='-'/>
      {{/if}}
      {{if has_image}}
      &nbsp;<img src='../../images/whatsappHasPicture.png' style='max-width:10%;' alt='-'/>
      {{/if}}
      {{if has_video}}
      &nbsp;<img src='../../images/photoHasVideo.png' style='max-width:10%;' alt='-'/>
      {{/if}}
      {{if has_audio}}
      &nbsp;<img src='../../images/whatsappHasVocalMessage.png' style='max-width:10%;' alt='-'/>
      {{/if}}
      </div>
      </div>
      </a>
      </li>
    </script>

    <script>
      function startSly() {
        var contactDiv = $("#chatsListDiv");
        contactDiv.sly('destroy');
        //'use strict';
        var sly = new Sly(contactDiv, {
          horizontal: false,
          itemNav: 'basic',
          smart: false,
          scrollBy: 1,
          mouseDragging: 1,
          touchDragging: 1,
          swingSpeed: 0.2,
          //scrollBar: $wrap.find('.hsscrollbar'),
          dragHandle: 1,
          clickBar: 1,
          elasticBounds: 1,
          speed: 600,
          startAt: 0
        }
//        ,
//        {
//          cyclez:console.log("sly cycle"),
//          move:console.log("sly move"),
//          change:console.log("sly change"),
//          activePage:console.log("sly activePage")
//        }
        );

//        sly.slideTo(10,false);//Animate SLIDEE to a specific position
//        sly.on('moveEnd', console.log("on moveEnd"));
//        sly.on('activePage', console.log("on activePage"));
//        sly.on('test event sly', console.log("on test event sly"));
        sly.init();
//        sly.off('test event sly', console.log("off test event sly"));
      }


      function buildWhatsappParticipantsList4Sly(json) {
        var chatsAR = json.data.participants;
        var template = $.templates("#contactVerticalTemplate");
        var htmlOutput = template.render(chatsAR);
        htmlOutput = "<ul class='slidee' style='list-style-type: none;'>" +
                htmlOutput +
                "</ul>";
        return htmlOutput;
      }
    </script>


    <script language="javascript">
      /////////////////////// COMUNICATIONS
      function ciao() {
        //window.alert("callback ciao");
      }
      function doGetWhatsappGroupJson(groupId, timeFrame) {
        //participants, nudes
        console.log("doGetWhatsappGroupJson " + timeFrame);
        $.ajax({
          url: whatsappGroupUrl,
          type: 'GET',
          crossDomain: true,
          jsonp: 'callback',
          jsonpCallback: 'ciao',
          data: "time_frame=" + timeFrame + "&group_id=" + groupId,
          dataType: 'jsonp',
//            data: {
//           format: 'jsonp'
//           },
          contentType: 'application/json',
          error: function (jqXHR, textStatus, errorThrown) {
            window.alert("doGetWhatsappGroupJson error");
          },
          success: function (json, textStatus, jqXHR) {
            console.log("doGetWhatsappGroupJson success data time_frame=" + json.data.statistics.time_frame);

            populateWhatsappGroupJson(json);
          }
        });
      }

      function populateWhatsappGroupJson(json) {
        ////////////NUDE SECTION
        $("#whatsappNudeCountId").html(buildNudeCount(json.data.nude.count));
        ////CHART   
        drawChart(json.data.statistics.numbers, json.data.statistics.time_frame);
        //doGetWhatsappGroupParticipantsJson(groupId);

      }

      function doGetWhatsappGroupParticipantsJson(groupId) {
        //participants, nudes
        console.log("doGetWhatsappGroupParticipantsJson groupId " + groupId);
        $.ajax({
          url: whatsappGroupParticipantsUrl,
          type: 'GET',
          crossDomain: true,
          jsonp: 'callback',
          jsonpCallback: 'ciao',
          data: "group_id=" + groupId,
          dataType: 'jsonp',
//            data: {
//           format: 'jsonp'
//           },
          contentType: 'application/json',
          error: function (jqXHR, textStatus, errorThrown) {
            window.alert("doGetWhatsappGroupParticipantsJson error");
          },
          success: function (json, textStatus, jqXHR) {
            console.log("doGetWhatsappGroupParticipantsJson success data time_frame=" + json.data.participants[0].first_name);

            populateWhatsappGroupParticipants(json);
          }
        });
      }

      function populateWhatsappGroupParticipants(json) {
        ////////////NUDE SECTION
        console.log("populateWhatsappGroupJson");
        $("#whatsappNudeCountId").html(buildNudeCount(json.data.nude.count));
        //DRAW GRAPH
        drawChart(json.data.statistics.numbers, json.data.statistics.time_frame);

      }

      function populateWhatsappGroupParticipants(json) {
        console.log("populateWhatsappGroupParticipants");
        $('#chatsListDiv').html(buildWhatsappParticipantsList4Sly(json));
        startSly();
      }

    </script>

    <script>
      function dayClicked() {
        doGetWhatsappGroupJson('day');
        console.log("wa group day clicked");
        //          $("#dayBtn").addClass("ui-btn-active");
      }
      function weekClicked() {
        doGetWhatsappGroupJson('week');
        console.log("wa group week clicked");
        //          $("#weekBtn").addClass("ui-btn-active");
      }
      function monthClicked() {
        console.log("wa group month clicked");
        doGetWhatsappGroupJson('month');
        //          $("#monthBtn").addClass("ui-btn-active");
      }

      function whatsappClicked() {
        console.log("whatsapp clicked");
      }

      function photoClicked() {
        console.log("photo clicked");
      }

      function homeClicked() {
        console.log("home clicked");
      }

      function positionClicked() {
        console.log("position clicked");
      }

      function geofenceClicked() {
        console.log("geofence clicked");
      }
    </script>

  </head>
  <body>
    <!-------------------------------HOME PAGE------------------------------------------- -->
    <div id="homePage" data-role="page">
      <!-- popup -->


      <div id="header" data-role="header" data-id="fixedHeader" data-theme="a" >
        <div id="headerNavbarId" data-role="navbar" style=" width: 100%" >
          <ul>
            <li><a href="#" onclick="dayClicked()" id="dayBtn" class="ui-btn-active">Day</a></li>
            <li><a href="#" onclick="weekClicked()" id="weekBtn">Week</a></li>
            <li><a href="#" onclick="monthClicked()" id="monthBtn">Month</a></li>
          </ul>
        </div>
      </div>

      <div role="main" class="ui-content">
        <div class="p2rDiv">

          <!-- WHATSAPP-->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-2"><img id='whatsappIconImage' src='../../images/whatsappIcon.png' alt='-' style="max-width:50%; "/></div>
              <div class="col-10"><label style="color: #32B92A; " id='whatsappSectionLabel' class="my-label-l">Whatsapp</label></div> 
            </div>
            <!-- chart -->
            <div class="grid">
              <div class="col-11">
                <div id="whatsappChartDiv">
                  <div class="col-11"><img src="../../images/loading/grey_dots_loading.gif" style="max-width:30%;" alt='-'/></div>
                </div>
              </div>
            </div>
            <!-- whatsapp nude -->
            <div class="grid">
              <div class="col-2"><img id='whatsappNudeIconId' src='../../images/alertNudeIcon.png' style="max-width:50%;" alt='-'/></div>
              <div class="col-10"><label id='whatsappNudeSection' class="my-label-m"><b>Nude Alert</b></label></div>
              <div class="col-2"></div>
              <div class="col-5"><label id='whatsappNudeCountId' class="my-label-s">-</label></div>
            </div>
          </div>
          <!-- chat list sly -->
          <div data-role="collapsible-set"  class='my-collapsible'>
            <div class="grid">
              <div class="col-11">
                <div id="chatsListDiv"></div>
              </div>
            </div>
          </div>
        </div> <!-- p2r div -->
      </div><!-- /content -->

      <!-------------------------------FOOTER------------------------------------------- -->
      <div data-role="footer" data-id="fixedFooter" data-theme="a" data-position="fixed">
        <div id="footerNavbarId" data-role="navbar" >
          <ul>
            <li><a href="../whatsapp/whatsappMain.html" data-icon="phone" data-ajax="false" data-iconshadow="false" data-iconpos="notext" class="ui-btn-active"></a></li>
            <li><a href="#" data-icon="camera" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a href="../home/home.html" data-ajax="false" data-icon="home" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a href="#" data-icon="location" data-iconshadow="false"  data-iconpos="notext"></a></li>
            <li><a onclick="loadGeofences()" href="#editGeofencesPage" data-icon="tag" data-iconshadow="false"  data-iconpos="notext"></a></li>
          </ul>
        </div>
      </div>
      <!-------------------------------/FOOTER------------------------------------------- -->
    </div><!-- /page -->
    <!-------------------------------/HOME PAGE------------------------------------------- -->

  </body>
</html>
